.offers {
  width: 65%;
  height: 60vh;
  margin: auto;
  display: flex;
  padding: 0px 140px;
  margin-bottom: 150px;
  background: linear-gradient(180deg, #f5a04b, #e1ffea22 60%);
}
.offers-left {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.offers-left h1 {
  color: #171717;
  font-size: 80px;
  font-weight: 600;
}
.offers-left p {
  color: #171717;
  font-size: 22px;
  font-weight: 600;
}
.offers-left button {
  width: 282px;
  height: 70px;
  border-radius: 35px;
  background: #ff4141;
  color: white;
  font-size: 22px;
  font-weight: 500;
  margin-top: 30px;
  cursor: pointer;
  border: none;
}
.offers-right {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding-top: 50px;
}
@media screen and (max-width: 800px) {
  .offers {
    width: 40%;
    height: 40vh;
    display: flex;
    padding: 0px 100px;

    margin-bottom: 10px;
  }
  .offers-left h1 {
    font-size: 30px;
    font-weight: 600;
  }
  .offers-left p {
    font-size: 10px;
  }
  .offers-left button {
    width: 122px;
    height: 40px;
    font-size: 17px;
  }
  .offers-right img {
    display: none;
  }
}
